.App {
  text-align: center;
}

body {
  color: rgb(100, 99, 99);
  background-color: #FFFCFC;
  font-family: Century Gothic, Opun ,sans-serif;
  padding-bottom: 20px;
}

/* Navigation */
.nav-section {
  position: -webkit-sticky;
  position: sticky;
  position: relative;
  top: 0;
  z-index: 1;  /* แก้ที่ image มาทับ nav */
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(202, 202, 202, 0.486);
}
/* https://stackoverflow.com/questions/38948102/center-and-right-align-flexbox-elements */
.icon-section {
  /* background-color: hotpink; */
  text-align: right;
  margin: auto 0px;
}
.search-section {
  display: flex;
  /* background-color: indigo; */
  margin: auto;
}
#search-icon {
  position: relative;
  right: 30px;
  top: 15px;
}
#searchfield {
  max-width: 100%;
  resize: vertical;
  padding: 7px 100px; /* not responsive */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#icon, #icon:hover, #icon:link, #icon:active, #icon:hover {
  color: rgb(100, 99, 99);
  font-size: 22px;
  padding-left: 10px;
}
.watch-button:focus, #searchfield, textarea {
  outline: 0;
}
#movie-image:hover, .watch-button:hover, .watch-button:active, input[type=submit]{
  cursor: pointer;
}

.list-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.list-menu p {
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  color: rgb(83, 82, 82);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.list-menu p:hover {background-color: rgb(231, 231, 231);}

.filter-setion:hover .list-menu {display: block;}

/* Trending */
.trend-movie-section {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#left-right {
  font-size: 45px;
}
.movie-card {
  margin-bottom: 30px;
  display: grid;
  justify-items: center;
  max-width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  transition: .3s;
}
.movie-card:hover {
  box-shadow: 0 10px 10px 0 rgba(202, 202, 202, 0.486);
  transform: scale(1.09)
}
/* hover แบบ zoom */
/* .img-wrapper {  
  overflow: hidden; 
} */
#movie-image {
  display: flex;
  opacity:.9;
  margin: 0px;
  max-width: 100%;
  display: block;
  align-self: flex-end;
  transition: 0.3s;
}
#movie-image:hover {
  opacity:1;
  /* transform: scale(1.1);  hover แบบ zoom */
}
.rating-section {
  display: inline-block;
  margin: 10px auto;
}
#star {
  margin-left: 10px;
  color: rgb(250, 205, 120);
}
#title-summary h1:hover {
  /* opacity:1; */
  color: rgb(0, 0, 0);
  /* transition: 0.3s; */
  font-size: 2rem;
  font-weight: bolder;
  /* background-color: #111; */
}
#title-summary:visited, #title-summary:link, #name-movie:visited, #name-movie:link {
  color: rgb(83, 82, 82);
  font-size: small;
  color: inherit;
  margin: 0px 0px 40px 0px; 
  text-decoration: none;
  transition: 0.3s;
}
#title-summary:visited, #title-summary:link {
  color: rgb(92, 91, 91);
}
#name-movie:hover, #name-movie:active {
  color: rgb(151, 150, 150);
}
.watch-button, input[type=submit]{
  color: rgb(83, 82, 82);
  font-weight: bolder;
  border: none;
  margin-bottom: 20px;
  background-color: rgba(0, 128, 0, 0);
  transition: 0.3s;
}
.watch-button:hover, .watch-button:active, input[type=submit]:hover, input[type=submit]:active {
  color: rgb(124, 124, 124);
}

#trailer-section {
  display: flex;
  background-color: rgb(250, 205, 120);
}
#trailer-image {
  display: block;
  max-width: 60%;
}

/* DetailMovie */
.grid-section {
  display: grid;
}
.detail-movie-section {
  display: flex;
  justify-content: space-around;
  font-size: small;
  margin-bottom: 50px;
}
.image-detail-wrapped {
  /* display: flex; */
  background-color: khaki;
}
#image-detail-movie {
  display: flex;
  display: block;
  max-width: 30%;
  box-shadow: 0 10px 10px 0 rgba(202, 202, 202, 0.486);
}
.description-section {
  display: block;
  max-width: 50%;
}
.descrip {
  display: inline-flex;
}

/* Comment */
.comment-section {
  display: block;
  margin: 5px auto;
  max-width: 90%;
}
#usrname {
  cursor: pointer;
  font-weight: bold;
}
#date-post, #time {
  font-size: small;
}
hr {
  border: 0.5px dashed rgb(231, 231, 231);
}
.comment-about{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
}
.comment-user {
  margin-right: 10px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}
#text-comment {
  font-size: small;
  padding: 30px;
}
.information-user {
  display: grid;
}
.comment-user .information-user {
  margin-top: 10px;
  text-align: center;
}
#img-user-comment {
  display: block;
  display: flex;
  max-width: 30%;
  border-radius: 4px;
  margin: 0px auto;
}

/* Post */
.post-section {
  display: block;
}
#no-comment, #comments-title {
  display: block;
  width: 90%;
  margin: 10px auto;
}
#comments-title {
  font-weight: bold;
}
textarea {
  display: block;
  width: 90%;
  height: 200px;
  padding: 12px 20px;
  margin: 20px auto;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=submit] {
  background-color: lawngreen;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}