.App {
  text-align: center;
  /* font-family: Century Gothic, sans-serif; */
}

body {
  color: rgb(100, 99, 99);
  background-color: #FFFCFC;
  font-family: Century Gothic, Opun ,sans-serif;
}

/* Navigation */
.nav-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  position: relative;
  /* แก้ที่ image มาทับ nav */
  z-index: 1; 
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(202, 202, 202, 0.486);
}
/* https://stackoverflow.com/questions/38948102/center-and-right-align-flexbox-elements */
.icon-section {
  right: 0;
  position: absolute;
  margin: 10px 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
#icon, #icon:hover, #icon:link, #icon:active, #icon:hover {
  color: rgb(100, 99, 99);
  font-size: 22px;
}
#searchfield {
  max-width: 100%;
  padding: 7px 100px; /* not responsive */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.watch-button:focus, #searchfield {
  outline: 0;
}
#movie-image:hover, .watch-button:hover, .watch-button:active {
  cursor: pointer;
}

/* Trending */
.trend-movie-section {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#left-right {
  font-size: 45px;
}
.movie-card {
  display: grid;
  justify-items: center;
  max-width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}
/* hover แบบ zoom */
/* .img-wrapper {  
  overflow: hidden; 
} */
#movie-image {
  display: flex;
  opacity:.9;
  margin: 0px;
  max-width: 100%;
  display: block;
  align-self: flex-end;
  transition: 0.3s;
}
#movie-image:hover {
  opacity:1;
  /* transform: scale(1.1);  hover แบบ zoom */
}
#star {
  color: rgb(250, 205, 120);
}
.name-movie:visited, .name-movie:link {
  color: inherit;
  margin: 10px 0px 40px 0px; 
  text-decoration: none;
  transition: 0.3s;
}
.name-movie:hover, .name-movie:active {
  color: rgb(151, 150, 150)
}
.watch-button{
  color: rgb(100, 99, 99);
  font-weight: bolder;
  border: none;
  margin-bottom: 20px;
  background-color: rgba(0, 128, 0, 0);
  transition: 0.3s;
}
.watch-button:hover, .watch-button:active {
  color: rgb(124, 124, 124);
}

.trailer-section {
  display: flex;
  background-color: rgb(250, 205, 120);
}
#trailer-image {
  display: block;
  max-width: 60%;
}

/* DetailMovie */
.detail-movie-section {

}
.image-detail-wrapped {
  /* display: flex; */
  background-color: khaki;
}
#image-detail-movie {
  display: flex;
  display: block;
  max-width: 50%;
}